!!!
%html
  %head
    %title Su paquete ha llegado	
  %body
    %p Querido usuario, #{@userR.first_name} #{@userR.last_name} , nos complace anunciarle que ha llegado su paquete. Este fue enviado por #{@userE.first_name} #{@userE.last_name}
    %p Lo estaremos esperando en nuestra sucursal #{@sucursal}